
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/mock-clothing-site.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
automation/pages/__pycache__/BasePageObject.cpython-37.pyc
